caal_debugger.json
{
  "name": "CAAL - Workflow Debugger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "debug-workflow-caal",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-debug",
      "name": "Webhook Debug",
      "notes": "POST /webhook/debug-workflow-caal\n{\n  \"workflow_id\": \"MYGVeQNhZ8JkGOyu\",\n  \"issue\": \"Code node returns undefined instead of array\"\n}"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"debugging\", \"workflow_id\": \"{{ $json.body.workflow_id }}\" }"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [200, 0],
      "id": "respond-debug",
      "name": "Respond"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst sessionId = generateUUID();\nconst workflowId = $json.body?.workflow_id || '';\nconst issue = $json.body?.issue || 'Workflow not working as expected';\n\nif (!workflowId) {\n  throw new Error('workflow_id is required');\n}\n\nreturn {\n  json: {\n    session_id: sessionId,\n    workflow_id: workflowId,\n    issue: issue\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "gen-session-debug",
      "name": "Generate Session"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflow_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [600, 0],
      "id": "get-wf",
      "name": "Get Workflow",
      "notes": "⚠️ Configure credencial 'n8n API' aqui!"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workflow = $json;\nconst issue = $('Generate Session').item.json.issue;\nconst sessionId = $('Generate Session').item.json.session_id;\n\nconst workflowJson = JSON.stringify({\n  name: workflow.name,\n  nodes: workflow.nodes,\n  connections: workflow.connections,\n  settings: workflow.settings\n}, null, 2);\n\nreturn {\n  json: {\n    workflow_json: workflowJson,\n    workflow_id: workflow.id,\n    workflow_name: workflow.name,\n    issue: issue,\n    session_id: sessionId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "prep-debug",
      "name": "Prepare Debug Context"
    },
    {
      "parameters": {
        "command": "=claude -p \"Debug this n8n workflow.\\n\\nWorkflow Name: {{ $json.workflow_name }}\\nIssue: {{ $json.issue }}\\n\\nCurrent workflow JSON:\\n{{ $json.workflow_json }}\\n\\nAnalyze the issue and return the FIXED workflow JSON in ```json fence. Keep availableInMCP: true if present.\" --session-id {{ $json.session_id }} --model sonnet --print --output-format json --dangerously-skip-permissions",
        "cwd": "E:\\Contexto CLAUDE"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1000, 0],
      "id": "ssh-debug",
      "name": "Claude Debug",
      "credentials": {
        "sshPassword": {
          "id": "V4sZYDRz7ppSgxbk",
          "name": "JARVIS"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const stdout = $json.stdout || '';\nlet result = stdout;\n\ntry {\n  const jsonStart = stdout.indexOf('{\"type\"');\n  if (jsonStart > -1) {\n    const jsonStr = stdout.substring(jsonStart);\n    const parsed = JSON.parse(jsonStr);\n    result = parsed.result || stdout;\n  }\n} catch (e) {}\n\nconst jsonMatch = result.match(/```json\\s*\\n([\\s\\S]*?)\\n```/);\nif (!jsonMatch) {\n  throw new Error('No JSON found in Claude response');\n}\n\nconst workflow = JSON.parse(jsonMatch[1]);\nconst sessionId = $('Prepare Debug Context').item.json.session_id;\nconst workflowId = $('Prepare Debug Context').item.json.workflow_id;\n\nif (!workflow.settings) {\n  workflow.settings = {};\n}\nworkflow.settings.availableInMCP = true;\n\nreturn {\n  json: {\n    workflow: workflow,\n    session_id: sessionId,\n    workflow_id: workflowId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "parse-debug",
      "name": "Parse Fixed Workflow"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $json.workflow_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.workflow.name }}"
            },
            {
              "name": "nodes",
              "value": "={{ $json.workflow.nodes }}"
            },
            {
              "name": "connections",
              "value": "={{ $json.workflow.connections }}"
            },
            {
              "name": "settings",
              "value": "={{ $json.workflow.settings }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1400, 0],
      "id": "update-debug",
      "name": "Update Workflow",
      "notes": "⚠️ Configure credencial 'n8n API' aqui!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "retry-debug",
              "name": "retryCount",
              "value": 0,
              "type": "number"
            },
            {
              "id": "wf-id-debug",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "sess-id-debug",
              "name": "session_id",
              "value": "={{ $('Parse Fixed Workflow').item.json.session_id }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 0],
      "id": "set-counter-debug",
      "name": "Set Counter"
    },
    {
      "parameters": {
        "command": "=claude -p \"Test if workflow {{ $json.workflow_id }} is now fixed. If OK, respond ONLY 'OK'. If still broken, analyze and return updated JSON in ```json fence.\" -r {{ $json.session_id }} --model sonnet --print --output-format json --dangerously-skip-permissions",
        "cwd": "E:\\Contexto CLAUDE"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1800, 0],
      "id": "ssh-test-debug",
      "name": "Claude Test Fix",
      "credentials": {
        "sshPassword": {
          "id": "V4sZYDRz7ppSgxbk",
          "name": "JARVIS"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const stdout = $json.stdout || '';\nlet result = stdout;\n\ntry {\n  const jsonStart = stdout.indexOf('{\"type\"');\n  if (jsonStart > -1) {\n    const jsonStr = stdout.substring(jsonStart);\n    const parsed = JSON.parse(jsonStr);\n    result = parsed.result || stdout;\n  }\n} catch (e) {}\n\nconst isOk = result.trim().toUpperCase() === 'OK';\n\nreturn {\n  json: {\n    test_result: result,\n    is_ok: isOk\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 0],
      "id": "parse-test-debug",
      "name": "Parse Test"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok-check-debug",
              "leftValue": "={{ $json.is_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2200, 0],
      "id": "if-ok-debug",
      "name": "Test OK?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    success: true,\n    workflow_id: $('Set Counter').item.json.workflow_id,\n    message: 'Workflow debugged and fixed successfully!'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, -100],
      "id": "success-debug",
      "name": "Success"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const testResult = $json.test_result;\n\nlet result = testResult;\ntry {\n  const jsonStart = testResult.indexOf('{\"type\"');\n  if (jsonStart > -1) {\n    const jsonStr = testResult.substring(jsonStart);\n    const parsed = JSON.parse(jsonStr);\n    result = parsed.result || testResult;\n  }\n} catch (e) {}\n\nconst jsonMatch = result.match(/```json\\s*\\n([\\s\\S]*?)\\n```/);\n\nif (!jsonMatch) {\n  throw new Error('No fixed workflow JSON in response');\n}\n\nconst fixedWorkflow = JSON.parse(jsonMatch[1]);\n\nreturn {\n  json: {\n    workflow: fixedWorkflow\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 100],
      "id": "parse-refix",
      "name": "Parse Re-Fix"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:5678/api/v1/workflows/{{ $('Set Counter').item.json.workflow_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.workflow.name }}"
            },
            {
              "name": "nodes",
              "value": "={{ $json.workflow.nodes }}"
            },
            {
              "name": "connections",
              "value": "={{ $json.workflow.connections }}"
            },
            {
              "name": "settings",
              "value": "={{ $json.workflow.settings }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2600, 100],
      "id": "update-refix",
      "name": "Update Re-Fix",
      "notes": "⚠️ Configure credencial 'n8n API' aqui!"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inc-retry-debug",
              "name": "retryCount",
              "value": "={{ $('Set Counter').item.json.retryCount + 1 }}",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2800, 100],
      "id": "inc-counter-debug",
      "name": "Increment Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry-check-debug",
              "leftValue": "={{ $json.retryCount }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3000, 100],
      "id": "if-retry-debug",
      "name": "More Retries?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    success: false,\n    workflow_id: $('Set Counter').item.json.workflow_id,\n    message: 'Failed after 2 debug attempts. Manual intervention required.'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 200],
      "id": "failure-debug",
      "name": "Failure"
    }
  ],
  "connections": {
    "Webhook Debug": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    },
    "Respond": {
      "main": [[{"node": "Generate Session", "type": "main", "index": 0}]]
    },
    "Generate Session": {
      "main": [[{"node": "Get Workflow", "type": "main", "index": 0}]]
    },
    "Get Workflow": {
      "main": [[{"node": "Prepare Debug Context", "type": "main", "index": 0}]]
    },
    "Prepare Debug Context": {
      "main": [[{"node": "Claude Debug", "type": "main", "index": 0}]]
    },
    "Claude Debug": {
      "main": [[{"node": "Parse Fixed Workflow", "type": "main", "index": 0}]]
    },
    "Parse Fixed Workflow": {
      "main": [[{"node": "Update Workflow", "type": "main", "index": 0}]]
    },
    "Update Workflow": {
      "main": [[{"node": "Set Counter", "type": "main", "index": 0}]]
    },
    "Set Counter": {
      "main": [[{"node": "Claude Test Fix", "type": "main", "index": 0}]]
    },
    "Claude Test Fix": {
      "main": [[{"node": "Parse Test", "type": "main", "index": 0}]]
    },
    "Parse Test": {
      "main": [[{"node": "Test OK?", "type": "main", "index": 0}]]
    },
    "Test OK?": {
      "main": [
        [{"node": "Success", "type": "main", "index": 0}],
        [{"node": "Parse Re-Fix", "type": "main", "index": 0}]
      ]
    },
    "Parse Re-Fix": {
      "main": [[{"node": "Update Re-Fix", "type": "main", "index": 0}]]
    },
    "Update Re-Fix": {
      "main": [[{"node": "Increment Counter", "type": "main", "index": 0}]]
    },
    "Increment Counter": {
      "main": [[{"node": "More Retries?", "type": "main", "index": 0}]]
    },
    "More Retries?": {
      "main": [
        [{"node": "Claude Test Fix", "type": "main", "index": 0}],
        [{"node": "Failure", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "executionOrder": "v1"
  }
}
